#container {
  background-color: black;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  margin-top: 80px;
}

.btn-primary {
  width: 100%;
}

input {
  margin-top: 30px;
}

button {
  margin-top: 20px;
}

#card {
  background-color: aquamarine;

  max-width: 80%;
  margin-top: 80px;
  width: 400px;
  size: 10px;
  /* background-color: rgb(232, 251, 251);  */
}

img {
  max-width: 50%;
}
